.container {
  background: red;
  width: 100%;
}

.menu {
  width: 33%;
  float: left;
}

.content-container {
  width: 66%;
  float: right;
}
/*
.menu {
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 270px;
    height: auto;
}

.content-container {

}*/



/*.list-todos a {
    box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px;
    display: block;
    line-height: 1.5em;
    position: relative;
    padding: 0.75em 2.5em;
}
a {
    color: rgb(93, 185, 255);
    cursor: pointer;
    text-decoration: none;
    transition: all 200ms ease-in;
}*/

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.bucketlists {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.bucketlists li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.bucketlists li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.bucketlists li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.bucketlists .text {
  position: relative;
  top: -3px;
}
.bucketlists .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}



















.login {
  background: antiquewhite;
}

h1.login-header {
  text-align: center;
}
