<nav class="navbar navbar-inverse nav-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      Hyperloop
    </a>
  </div>

  <div class="nav-menu">
    <ul class="nav navbar-nav navbar-right" *ngIf="!isloggedIn()">
      <li role="presentation"><a [routerLink]="['/register']" routerLinkActive="active">Sign Up</a></li>
      <li role="presentation"><a [routerLink]="['/new']" routerLinkActive="active">Login</a></li>
      <li role="presentation"><a href="http://github.com/andela-gogbara/roh" target="_blank">GitHub</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="isloggedIn()">
      <li role="presentation"><a [routerLink]="['/register']" routerLinkActive="active">Welcome {{current_user()}}</a></li>
      <li role="presentation"><a [routerLink]="['/new']" routerLinkActive="active" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>
</nav>
<router-outlet></router-outlet>
